{% extends 'base.html' %}
{% load i18n %}

{% block head_title %}
  {% trans 'Sign Up' %}
{% endblock %}

{% block content %}
  <section class="row justify-content-center mb-5 mx-4">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8 mt-3">
          <h3>{% trans 'Sign Up' %}</h3>

          <p>
            {% blocktrans %}Join the Riders Club by creating an account. If you already have one, please <a class="btn btn-signup btn-sm" href="{{ login_url }}">sign in</a>.{% endblocktrans %}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-8 mt-3">
          <form id="signup_form" class="signup" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-signup btn-sm" type="submit">{% trans 'Sign Up' %}</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
