{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h2>
          {% if form.instance.pk %}
            Edit
          {% else %}
            Create
          {% endif %}Booking
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Save</button>
          <a href="{% url 'booking_list' %}">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
