{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <h2>Confirm Deletion</h2>
        <p>Are you sure you want to delete the booking on {{ booking.date }} at {{ booking.time }}?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <form method="post">
          {% csrf_token %}
          <button type="submit">Confirm</button>
          <a href="{% url 'booking_list' %}">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
