{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  {{ form.instance.pk|yesno:'Edit Session' }}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
              <h2>{{ form.instance.pk|yesno:'Edit Session' }}</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
          <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'session_list' %}" class="btn btn-secondary">Cancel</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
