{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  Session List
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2>Sessions</h2>
          <h2>
            {% if form.instance.pk %}
              Session #{{ form.instance.pk }}
            {% else %}
              <a href="{% url 'session_create' %}" class="btn btn-primary">New Session</a>
            {% endif %}
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2">
        <!-- templates/sessions/session_list.html -->
        <div>
          <ul>
            {% for session in sessions %}
              <li>
                <strong>{{ session.user }}</strong><br />
                Date: {{ session.date }}<br />
                Time: {{ session.time }}<br />
                Notes: {{ session.notes }}
                <a href="{% url 'session_update' session.user %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'session_delete' session.user %}" class="btn btn-sm btn-danger">Delete</a>
              </li>
            {% empty %}
              <li>No sessions found.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
