{% load static %}

{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'bookings:booking_list' as booking_list_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Rider Club for Bicycle and Motorcycle Enthusiasts – Training and Community" />
    <meta name="keywords" content="Riders, Bicycle, Motorcycle, Bike Training, Cycling, Motorbiking, Club" />
    <meta name="author" content="Riders Club" />
    <title>Riders Club</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon_io/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon_io/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon_io/favicon-16x16.png' %}" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body class="d-flex flex-column h-100 main-bg">
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ home_url }}" aria-label="logo link to home page"><span class="brand"><span class="green-nn">Riders</span>Club</span></a>

          <!-- Toggler -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% if request.path == home_url %}active{% endif %}" href="{{ home_url }}" aria-label="Home page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == contact_url %}active{% endif %}" href="{{ contact_url }}" aria-label="Contact page">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'booking_list' and request.resolver_match.namespace == 'bookings' %}active{% endif %}" href="{% url 'bookings:booking_list' %}" aria-label="Book Training page">Book Training</a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link {% if request.path == logout_url %}active{% endif %}" href="{{ logout_url }}" aria-label="Logout page">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link {% if request.path == signup_url %}active{% endif %}" href="{{ signup_url }}" aria-label="Register page">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}" aria-label="Login page">Login</a>
                </li>
              {% endif %}
            </ul>
            <span class="navbar-text text-muted d-none d-md-block">Community for Cyclists & Motorcyclists</span>
          </div>
        </div>
      </nav>

      <!-- Messages -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            {% for message in messages %}
              <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message|safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <main class="flex-shrink-0 main-bg">
      <p class="text-end m-3">
        {% if user.is_authenticated %}
          Logged in as {{ user }}
        {% else %}
          Not logged in
        {% endif %}
      </p>

      {% block content %}

      {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto bg-secondary text-white py-4">
      <div class="container">
        <div class="row gy-4 text-center text-md-start">
          <!-- About -->
          <div class="col-md-4">
            <h5 class="text-uppercase">RidersClub</h5>
            <p>A place for bicycle and motorcycle riders to connect, train, and grow their riding skills together.</p>
          </div>

          <!-- Quick Links -->
          <div class="col-md-4">
            <h6 class="text-uppercase">Quick Links</h6>
            <ul class="list-unstyled">
              <li>
                <a href="{{ home_url }}" class="text-reset text-decoration-none link-light" aria-label="footer home page link">Home</a>
              </li>
              <li>
                <a href="{{ contact_url }}" class="text-reset text-decoration-none link-light" aria-label="footer contact page link">Contact</a>
              </li>
              <li>
                <a href="{{ booking_list_url }}" class="text-reset text-decoration-none link-light" aria-label="footer booking page link">Book Training</a>
              </li>
              {% if user.is_authenticated %}
                <li>
                  <a href="{{ logout_url }}" class="text-reset text-decoration-none link-light" aria-label="footer logout link">Logout</a>
                </li>
              {% else %}
                <li>
                  <a href="{{ login_url }}" class="text-reset text-decoration-none link-light" aria-label="footer Login link">Login</a>
                </li>
                <li>
                  <a href="{{ signup_url }}" class="text-reset text-decoration-none link-light" aria-label="footer Register account link">Register</a>
                </li>
              {% endif %}
            </ul>
          </div>

          <!-- Social Medial -->
          <div class="col-md-4">
            <h6 class="text-uppercase">Follow Us</h6>
            <ul class="list-inline d-flex justify-content-center justify-content-md-start gap-3">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="text-white fs-5" aria-label="Go to our Facebook page"><i class="fab fa-facebook custom-icon"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.twitter.com/" target="_blank" rel="noopener noreferrer" class="text-white fs-5" aria-label="Go to our X(formerly twitter) page"><i class="fab fa-twitter custom-icon"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" class="text-white fs-5" aria-label="Go to our Instagram page"><i class="fab fa-instagram custom-icon"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" class="text-white fs-5" aria-label="Go to our YouTube page"><i class="fab fa-youtube custom-icon"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Footer Bottom -->
        <div class="text-center mt-4 pt-3 border-top border-light-subtle">
          <small class="text-white-50">&copy; 2025 Riders Club</small>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
